<div ng-app="ScrumPoker" ng-chontroller="scrumPokerController as scrumPoker">
	<span>
		<div id="content">
			<div class="row"
			ng-repeat="player in scrumPoker.players">
				
			</div>
		</div>
		<div id="toolbar">
			<div class="card"
			ng-repeat="card in scrumPoker.cards"
			ng-style="{width: 1600 / scrumPoker.cards.length}">
				{{card.number}}
			</div>
		</div>
	</span>
	<span>
		<div id="score">
			<h1>{{settings}}</h1>
		</div>
		<form id="sideBar">
			<div>
				<label>
					Are you also effort pointing?
				</label>
				<label>
					<input type="radio" ng-model="" value="true">
				</label>
				<label>
					<input type="radio" ng-model="" value="false">
				</label>
			</div>
			<div ng-hide="settings.inGame">
				<label>
					Choose your card set:
				</label>
				<label ng-repeat="">
					<input type="radio" ng-model="settings.cardSet" ng-value="0">

				</label>
			</div>
			<div>
				<label>
					Would you like to auto-flip the cards after everyone has voted?
				</label>
				<input type="radio" name="" value="">
				<input type="radio" name="" value="">
			</div>
			<div>
				<label>
					Would you like to allow players to change their vote after reveal?
				</label>
				<input type="radio" name="" value="">
				<input type="radio" name="" value="">
			</div>
			<div>
				<label>
					Would you like to calculate the score?
				</label>
				<input type="radio" name="" value="">
				<input type="radio" name="" value="">
			</div>
			<div>
				<label>
					Would you like a story timer?
				</label>
				<input type="radio" name="" value="">
				<input type="radio" name="" value="">	
			</div>
		</form>
	</span>
<div>